* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	background-color: #000;
	background-image: url('orb.gif');
	background-repeat: no-repeat;
	background-position: top left;
	color: #fff;
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
}

.warning {
	padding: 5px 10px;
	margin: 0 0 20px 0;
	background-color: #2f2f2f;
	font-weight: 700;
	transition: background-color 0.5s ease;
}

.wrapper {
	/*width: 100%;*/
	padding: 20px;
}

#desc {
	margin: 0 0 15px 0;
}

.toggle_buttons {
	display: flex;
	margin: 0 0 20px 0;
}

.toggle_buttons a {
	outline: none;
	border: none;
	margin-right: 15px;
	padding: 5px;
	border-radius: 2px;
	text-decoration: none;
	color: #000;
	background: #fff;
	margin: 0 10px 0 0;
	font-size: 18px;
	display: inline-block;
	transition: all .125s ease;
}

.toggle_buttons a.active {
	color: #fff;
	background: #f41f86;
}

.toggle_buttons a#reset.active  {
	background: #fff;
	color: #000;
}

.instructions {
	margin: 0 0 15px 0;
	display: none;
}

.instructions ol {
	padding: 0 0 0 15px;
}

.instructions li {
	margin: 0 0 5px 0;
}

h1 {
	font-size: 30px;
	margin: 0 0 5px 0;
}

h2 {
	font-size: 22px;
	margin: 0 0 10px 0;
	font-weight: 400;
}

span.minimal {
	width: 100%;
	height: 3px;
	background: #f41f86;
	display: block;
	margin: 0 0 20px 0;
}

#ghost_info {
	margin: 0 0 20px 0;
	display: flex;
	flex-direction: column;
}

#ghost_info h2 {
	margin: 0 0 5px 0;
}

#ghost_info p {
	margin: 0 0 10px 0;
}

#ghost_info div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#ghost_name {
	margin: 0 15px 0 0;
}

#ghost_info label {
	font-size: 22px;
}

input[type="text"] {
	background: #1a1a1a;
	width: 350px;
	border: none;
	outline: none;
	text-decoration: none;
	color: #f41f86;
	font-size: 22px;
	padding: 5px;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	font-family: 'Quicksand', sans-serif;
	border-radius: 2px;
	font-weight: 700;
	margin: 0 10px 0 0;
}

input[type="text"]:focus {	
	background: #fff;
	color: #000;
}

input[type=reset] {
	background-color: #484848;
	border: none;
	color: #fff;
	padding: 5px 10px;
	border-radius: 2px;
	text-decoration: none;
	font-family: 'Quicksand', sans-serif;
	font-size: 22px;
	cursor: pointer;
	font-weight: 700;
	margin: 0 0 0 10px;
	border: none;
    outline:none;
}

input[type=reset]:hover {
	background-color: #f41f86;
}

#objectives {
	display: flex;
	flex-direction: column;
	margin: 0 0 20px 0;
}

#objectives h2 {
	margin: 0 0 5px 0;
}

#objectives p {
	margin: 0 0 15px 0;
}

#objective_list {
	display: flex;
}

#objective_list div {
	margin: 0 10px 0 0;
}

input[type="checkbox"] {
	position:absolute;
	visibility:hidden;
	opacity:0;
}

input[type="checkbox"] + label {
	display: flex;
	background: #484848;
	font-weight: 700;
	padding: 5px 10px;
	border-radius: 2px;
	cursor: pointer;
	font-size: 22px;
}

input[type="checkbox"]:checked + label {
	background: #f41f86;
}

#objectives input[type="checkbox"]:checked + label {
	background: #1faef4;
}

#evidence {
	margin: 0 0 20px 0;
}

#evidence ul {
	display: inline-grid;
	grid-template-columns: repeat(6, auto);
	grid-gap: 10px;
}

#evidence h2 {
	margin: 0 0 5px 0;
}

#evidence p {
	margin: 0 0 15px 0;
}

#evidence li {
	list-style: none;
}

#evidence ul li.disabled {
	display: none;
}

#evidence input[type="checkbox"].no + label {
	background: #971a1a;
}

#ghosts {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 16px;
	grid-auto-flow: dense;

}

.ghost {
    transition: opacity 1s ease;
    background: #000;
}

.fadeout {
	display: none;
}

.fadein {
	display: block;
}

.ghost.disabled h3 {
	color: #ff5656;
}

.ghost h3 {
	font-size: 22px;
	transition: color .125s ease;
}

.ghost h3, .ghost h4 {
	margin: 0 0 0.2em 0;
}

.ghost.yes h3 {
	color: #55be61;
}

.ghost.maybe h3 {
	color: #f41f86;
}

.ghost p {
	margin: 0 0 0.8em 0;
	font-size: 13px;
}

.ghost .evidence li {
	list-style: none;
	background-color: #2f2f2f;
	border-radius: 5px;
	padding: 2px;
	text-align: center;
	margin: 0 0 0.4em 0;
	font-weight: 700;
}

.ghost .evidence li.yes {
	background-color: #f41f86;
}


.ghost.yes .evidence li.yes {
	color: #000;
	background-color: #55be61;
}

.ghost.disabled .evidence li.yes {
	background-color: #ff5656;	
}

footer {
	margin: 2em 0 0 0;
}

a {
	color: #f41f86;
	font-weight: 700;
	padding: 0 2px;
}

a:hover {
	background: #f41f86;
	color: #fff;
}

@media screen and (max-width: 1000px) {
	#objectives {
		margin: 0 0 5px 0;
	}
	#objective_list {
		flex-wrap: wrap;
	}
	#objective_list div {
		margin: 0 10px 20px 0;
	}
	#evidence {
		margin: 0 0 5px 0;
	}
	#evidence ul {
		display: flex;
		flex-wrap: wrap;
	}
	#evidence li {
		margin: 0 0 10px 0;
		white-space: nowrap;
	}
	#ghost_info {
		margin: 0 0 20px 0;
		width: 100%;
	}
	#ghost_info #ghost_name_holder {
		width: 100%;
	}
	#ghost_info .ghost_name {
		width: 100%;
		margin: 0 0 20px 0;
	}
	#ghost_info div {
		flex-wrap: wrap;
	}
	#ghost_info input {
		margin: 0 10px 20px 0;
	}
	#ghost_info label {
		margin: 0 10px 0 0;
	}
	#ghost_info #reset {
		margin: 0;
	}
	#ghosts {
		flex-wrap: wrap;
	}
	.ghost {
		width: 100%;
	}
}